@charset "UTF-8";
.arrow {
  transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.rotate-90-cw {
  animation: rotate-90-cw 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes rotate-90-cw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
.rotate-90-ccw {
  animation: rotate-90-ccw 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes rotate-90-ccw {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.scale-in-ver-top {
  animation: scale-in-ver-top 0.5s forwards;
}

@keyframes scale-in-ver-top {
  0% {
    transform: scaleY(0);
    transform-origin: 100% 0%;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
  }
}
.scale-out-ver-top {
  animation: scale-out-ver-top 0.5s forwards;
}

@keyframes scale-out-ver-top {
  0% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
  }
  100% {
    transform: scaleY(0);
    transform-origin: 100% 0%;
    transition-delay: 0.2s; /* Délai de transition pour la fermeture */
  }
}
#header {
  display: flex;
  max-width: 1240px;
  margin: 0 auto;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
#header img {
  margin-top: 62px;
  margin-left: 30px;
  height: 68px;
  width: 210px;
}
#header nav {
  margin-right: 43px;
  margin-top: 62px;
}
#header nav a {
  margin-right: 57px;
  color: inherit;
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
}
#header .nav-item.active {
  text-decoration: underline;
}

@media only screen and (max-width: 800px) {
  #header {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 0px;
  }
  #header img {
    margin-left: 0;
    margin-top: 30px;
    height: auto;
    width: 145px;
  }
  #header nav {
    margin-top: 30px;
    margin-right: 10px;
  }
  #header nav a {
    font-size: 17px;
    margin-right: 20px;
  }
}
@media only screen and (max-width: 400px) {
  #header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 0px;
  }
  #header img {
    margin-left: 0;
    height: 46px;
    width: 145px;
  }
  #header nav a {
    font-size: 12px;
    margin-right: 20px;
  }
}
#footer {
  background-color: black;
  margin: 0 auto;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 66px;
  padding-bottom: 29px;
}
#footer img {
  height: 39px;
  width: 122px;
}

.caroussel {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  position: relative;
  margin-top: 50px;
}
.caroussel img {
  border-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 415px;
  max-width: 1240px;
}
.caroussel .boutonDir {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  max-width: 1240px;
}
.caroussel .boutonDir .precedent, .caroussel .boutonDir .suivant {
  pointer-events: auto;
  font-size: 79px;
  background: none;
  border: none;
  color: rgb(255, 255, 255);
}
.caroussel .boutonDir .precedent {
  margin-left: 20px;
}
.caroussel .boutonDir .suivant {
  margin-right: 20px;
}
.caroussel .compteur {
  position: absolute;
  bottom: 0; /* Aligne le compteur en bas du carrousel */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  margin-bottom: 20px;
  color: white;
  font-size: 18px;
}

.error {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  color: #ff6060;
}
.error h1 {
  font-size: 288px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 139px;
  margin-top: 139px;
}
.error h2 {
  size: 36px;
  font-weight: 500;
  margin: 0;
  text-align: center;
}
.error .back-link {
  margin-bottom: 139px;
  margin-top: 139px;
  color: black;
}

@media only screen and (max-width: 800px) {
  .error h1 {
    font-size: 150px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 122px;
    margin-top: 122px;
  }
  .error h2 {
    size: 25px;
    font-weight: 500;
    margin: 0;
  }
  .error .back-link {
    margin-bottom: 122px;
    margin-top: 122px;
    color: black;
  }
}
@media only screen and (max-width: 400px) {
  .error h1 {
    font-size: 96px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 113px;
    margin-top: 113px;
  }
  .error h2 {
    size: 18px;
    font-weight: 500;
    margin: 0;
  }
  .error .back-link {
    margin-bottom: 113px;
    margin-top: 113px;
    color: black;
  }
}
.home {
  max-width: 1240px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 50px;
  margin-top: 50px;
  padding-right: 20px;
  padding-left: 20px;
}
.home .boxBanniere {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  max-height: 223px;
  max-width: 1240px;
  background-color: aqua;
  border-radius: 25px;
  margin-bottom: 43px;
  border: 1px black solid;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.home .boxBanniere img {
  -o-object-fit: cover;
     object-fit: cover;
  width: auto;
  height: 400%;
  max-width: 100%;
}
.home .boxBanniere::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
}
.home .boxBanniere h1 {
  position: absolute;
  height: auto;
  text-align: center;
  color: #fff;
  top: 38%; /* ou autre valeur pour ajuster la position verticale */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  font-size: 48px;
  font-weight: 700;
}
.home .boxLogements {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #F6F6F6;
  padding: 20px;
  padding-top: 36px;
  border-radius: 25px;
}
.home .boxLogements .logement {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 340px;
  width: 340px;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 25px;
  margin-top: 20px;
  border-radius: 10px;
}
.home .boxLogements .logement .picture {
  -o-object-fit: cover;
     object-fit: cover;
  width: auto;
  height: 100%;
  max-width: 100%;
}
.home .boxLogements .logement::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.5; /* ajuster l'opacité du dégradé */
}
.home .boxLogements .logement h2 {
  position: absolute;
  bottom: 0; /* positionne le titre au bas de l'image */
  left: 0;
  height: auto;
  text-align: start;
  padding-left: 16px;
  padding-right: 16px;
  overflow-wrap: break-word;
  word-break: break-word;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

@media only screen and (max-width: 800px) {
  .home {
    padding: 10px;
  }
  .home .boxBanniere h1 {
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    width: 370px;
  }
}
@media only screen and (max-width: 400px) {
  .home {
    padding: 0;
  }
  .home .boxBanniere {
    width: auto;
    height: 111px;
    margin: 20px;
    margin-bottom: 2px;
    border-radius: 10px;
  }
  .home .boxBanniere h1 {
    text-align: start;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    width: 225px;
  }
  .home .boxLogements {
    background-color: white;
    margin: 20px;
    padding: 0;
    border-radius: 10px;
  }
  .home .boxLogements .logement {
    margin: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 335px;
    height: 255px;
  }
  .home .boxLogements h2 {
    margin-left: 16px;
  }
}
.about {
  max-width: 1240px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
}
.about .banniere {
  position: relative;
  margin-top: 38px;
}
.about .banniere img {
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-width: 1240px;
  max-height: 223px;
  border-radius: 25px;
}
.about .banniere::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.4); /* couleur noir semi-transparent */
}
.about .boxCrit {
  padding-left: 108px;
  padding-right: 108px;
  max-width: 1023px;
  margin-top: 38px;
  margin-bottom: 38px;
}
.about .boxCrit .aboutList {
  margin-top: 30px;
  margin-bottom: 15px;
}
.about .boxCrit .aboutList .groupAbout {
  max-height: 53px;
  background-color: #FF6060;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  border-radius: 5px;
}
.about .boxCrit .aboutList .groupAbout h2 {
  font-size: 24px;
  font-weight: 700;
  color: white;
}
.about .boxCrit .aboutList .groupAbout .arrow {
  padding-right: 10px;
  padding-left: 10px;
}
.about .boxCrit .content {
  background-color: #F6F6F6;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: justify;
}
.about .boxCrit .content .content scale-out-ver-top {
  background-color: #F6F6F6;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: justify;
}

@media only screen and (max-width: 800px) {
  .about .boxCrit {
    padding-left: 58px;
    padding-right: 58px;
  }
}
@media only screen and (max-width: 400px) {
  .about {
    max-width: 335px;
  }
  .about .banniere {
    position: relative;
    margin-top: 19px;
  }
  .about .banniere img {
    display: flex;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    max-width: 335px;
    max-height: 111px;
    border-radius: 10px;
  }
  .about .banniere::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4); /* couleur noir semi-transparent */
  }
  .about .boxCrit {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 335px;
    margin-top: 19px;
    margin-bottom: 19px;
  }
  .about .boxCrit .aboutList .groupAbout h2 {
    font-size: 18px;
  }
}
.logementPerso {
  font-family: "Montserrat", sans-serif;
  max-width: 1240px;
  margin: 0 auto;
}
.logementPerso .des {
  display: flex;
  justify-content: space-between;
}
.logementPerso .des .nameLoc h2 {
  font-size: 36px;
  color: #ff6060;
  font-weight: 500;
  margin: 0;
  margin-top: 30px;
}
.logementPerso .des .nameLoc .zone {
  font-size: 18px;
  margin: 0;
  margin-top: 8px;
  font-weight: 500;
}
.logementPerso .des .host {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.logementPerso .des .host p {
  max-width: 76px;
  max-height: 52px;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #ff6060;
  text-align: end;
}
.logementPerso .des .host img {
  max-width: 64px;
  max-height: 64px;
  border-radius: 32px;
}
.logementPerso .tagRac {
  display: flex;
  justify-content: space-between;
}
.logementPerso .tagRac .tags {
  display: flex;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 24px;
}
.logementPerso .tagRac .tags p {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  background-color: #ff6060;
  color: white;
  border-radius: 10px;
  padding: 5px;
  padding-right: 40px;
  padding-left: 40px;
  margin: 0;
  margin-right: 10px;
}
.logementPerso .tagRac .starBox {
  display: flex;
  align-items: center;
}
.logementPerso .tagRac .starBox .starContent img {
  width: 24px;
  margin: 3px;
}
.logementPerso .box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logementPerso .box .boxCrit {
  flex: 0 1 582px; /* Prend toute la largeur par défaut */
  max-width: 582px;
  margin-bottom: 20px; /* Ajouté pour espacement vertical */
}
@media (min-width: 800px) {
  .logementPerso .box .boxCrit {
    flex: 0 1 48%; /* 48% de largeur sur écrans moyens et grands */
  }
}
.logementPerso .box .boxCrit .aboutList {
  margin-bottom: 15px;
}
.logementPerso .box .boxCrit .aboutList .groupAbout {
  max-width: 100%; /* Ajusté pour une meilleure réactivité */
  background-color: #ff6060;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  border-radius: 5px;
}
.logementPerso .box .boxCrit .aboutList .groupAbout h2 {
  margin: 10px;
  font-size: 18px;
  font-weight: 700;
  color: white;
}
.logementPerso .box .boxCrit .aboutList .groupAbout .arrow {
  padding-right: 10px;
  padding-left: 10px;
}
.logementPerso .box .boxCrit .descrip {
  background-color: #F6F6F6;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: justify;
}
.logementPerso .box .boxCrit .descrip .content scale-out-ver-top {
  background-color: #F6F6F6;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: justify;
}
.logementPerso .box .boxCrit .descrip p {
  margin: 5px;
}

@media only screen and (max-width: 799px) {
  .logementPerso {
    margin-left: 20px;
    margin-right: 20px;
  }
  .logementPerso .box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logementPerso .box .boxCrit {
    flex: 1;
    width: 100%;
    margin-bottom: 20px;
  }
  .logementPerso .des {
    flex-wrap: wrap;
  }
  .logementPerso .des .host p {
    text-align: start;
    order: 2;
    margin-right: 0px;
    margin-left: 10px;
  }
  .logementPerso .tagRac {
    flex-wrap: wrap;
  }
  .logementPerso .tagRac .tags {
    order: 1;
  }
}
@media only screen and (max-width: 400px) {
  .caroussel img {
    border-radius: 10px;
    height: 255px;
    width: 335px;
  }
  .caroussel .boutonDir .precedent, .caroussel .boutonDir .suivant {
    font-size: 40px;
  }
  .caroussel .compteur {
    display: none;
  }
  .logementPerso {
    margin-left: 20px;
    margin-right: 20px;
  }
  .logementPerso .box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logementPerso .box .boxCrit {
    flex: 1;
    width: 100%;
    margin-bottom: 20px;
  }
  .logementPerso .des {
    flex-wrap: wrap;
  }
  .logementPerso .des .nameLoc h2 {
    font-size: 18px;
  }
  .logementPerso .des .nameLoc .zone {
    font-size: 14px;
  }
  .logementPerso .des .host p {
    order: 0;
    text-align: end;
    order: none;
    margin-right: 0px;
    margin-left: 10px;
    margin-right: 5px;
    font-size: 12px;
  }
  .logementPerso .des .host img {
    order: none;
    height: 32px;
    width: 32px;
  }
  .logementPerso .tagRac {
    flex-wrap: wrap;
  }
  .logementPerso .tagRac .tags p {
    font-size: 10px;
    padding-right: 20px;
    padding-left: 20px;
    flex-wrap: wrap;
  }
  .logementPerso .tagRac .starBox {
    order: 1;
  }
  .logementPerso .tagRac .starBox .starContent img {
    max-height: 18px;
    margin: 0;
    margin-bottom: 20px;
  }
  .logementPerso .box .boxCrit {
    margin-bottom: 15PX;
  }
  .logementPerso .box .boxCrit .aboutList .groupAbout h2 {
    font-size: 13px;
  }
  .logementPerso .box .boxCrit .aboutList .groupAbout .arrow {
    font-size: 13px;
  }
}/*# sourceMappingURL=main.css.map */