.logementPerso{
    font-family: "Montserrat", sans-serif;
    max-width: 1240px;
    margin: 0 auto;


   .des{
        display: flex;
        flex-direction: column;

       .nameLoc{

            h2{
                font-size: 36px;
                color: $roserange;
                font-weight: 500;
                margin: 0;
                margin-top: 30px;
        
            }
           .zone{
                font-size: 18px;
                margin: 0;
                margin-top: 8px;
                font-weight: 500;
            }
        }

        .tagRac{
            display: flex;

    
           .tags{
                display: flex;
                margin:0;
                margin-top: 20px;
                margin-bottom: 24px;
        
                p{
                    display: flex;
                    font-weight: 700;
                    font-size: 14px;
                    background-color:  $roserange;
                    color: white;
                    border-radius: 10px;
                    padding: 5px;
                    padding-right: 40px;
                    padding-left: 40px;
                    margin: 0;
                    margin-right: 10px;
                }
            }   
    
    
    
        }

    }

   .tagRac{
        display: flex;
        justify-content: space-between;

       .tags{
            display: flex;
            margin:0;
            margin-top: 20px;
            margin-bottom: 24px;
            flex-wrap: wrap;
    
            p{
                display: flex;
                font-weight: 700;
                font-size: 14px;
                background-color:  $roserange;
                color: white;
                border-radius: 10px;
                padding: 5px;
                padding-right: 40px;
                padding-left: 40px;
                margin: 0;
                margin-right: 10px;
            }
        }   



    }

    .racName{


        .host{
            display: flex;
            align-items: center;
            margin-top: 25px;
    
            p{
                max-width: 76px;
                max-height: 52px;
                margin-right: 10px;
                font-size: 18px;
                font-weight: 500;
                color: $roserange;
                text-align: end;
    
            }
            img{
                max-width: 64px;
                max-height: 64px;
                border-radius: 32px;
            }
        }


        .starBox{
            display: flex;
            align-items: center;
            margin-top: 15px;

           .starContent{
            
                img{
                    width: 24px;
                    margin: 3px;
    
                }
    
            }
            
        }

    }


   .box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; 
        

       .boxCrit {
          flex: 0 1 582px; /* Prend toute la largeur par défaut */
          max-width: 782px;
          margin-bottom: 20px; 
    
          @media (min-width: 800px) {
            flex: 0 1 48%; 

            

          }
    
         .aboutList {
            margin-bottom: 15px;
    
           .groupAbout {
              max-width: 100%; 
              background-color: #ff6060;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              padding-left: 15px;
              border-radius: 5px;
    
              h2 {
                margin: 10px;
                font-size: 18px;
                font-weight: 700;
                color: white;
              }
    
             .arrow {
                padding-right: 10px;
                padding-left: 10px;
              }
            }
    
    
            }
           .descrip{
    
                background-color: #F6F6F6;
                padding-top: 20px;
                padding-bottom: 20px;
                margin-top: 0px;
                padding-left: 15px;
                padding-right: 15px;
                text-align : justify;
    
               .content scale-out-ver-top{
    
                    background-color: #F6F6F6;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    margin-top: 0px;
                    padding-left: 15px;
                    padding-right: 15px;
                    text-align : justify;
        
                }

                p{
                    margin: 5px;
                }
    
            }
        }
    }

    .placement{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }


}

@media only screen and (max-width: 799px) {


    .logementPerso{

        margin-left: 20px;
        margin-right: 20px;
 
        .box{
             display: flex;
             flex-direction: column;
             align-items: center; 

 
            .boxCrit {
                width: 799px;
                 flex: 1; 
                 width: 100%; 
                 margin-bottom: 20px; 
             }
         }

         .placement{

            .des{
                flex-wrap: wrap;
    
                .host{
    
                    p{
                        text-align: start;
                        order: 2;
                        margin-right: 0px;
                        margin-left: 10px;
                    }
            
                }

                .tagRac{
                    flex-wrap: wrap;
                    
                    .tags{ 
                        order: 1;
        
                        p{
                            margin-top: 10px;
                        }
                    
                    }
        
                 }
    
    
            }

            .racName{
                display: flex;
                justify-content: space-between;
                width: 700px;
            }



        }




     }
 
 }


 @media only screen and (max-width: 400px) {


    .caroussel{

        img{
            border-radius: 10px;
            height: 255px;
            width: 335px;
        }

        .boutonDir{
            .precedent, .suivant {
                font-size: 40px;
            }

        }

        .compteur{
            display: none;
        }
    } 

    .logementPerso{
        max-width: 400px;

        margin-left: 20px;
        margin-right: 20px;
 
        .box{
            display: flex;
            flex-direction: column;
            align-items: center; 
 
            .boxCrit {
                flex: 1; 
                width: 100%; 
                margin-bottom: 20px; 
            }
        }

        .des{
            flex-wrap: wrap;

            .nameLoc{
                h2{
                    font-size: 18px;
                }
                .zone{
                    font-size: 14px;
                }

            }

            .tagRac{
                flex-wrap: wrap;

                .tags{ 

                    p{
                        margin-top: 5px;
                        font-size: 10px;
                        padding-right: 20px;
                        padding-left: 20px;
                        
                    }
                }
                

            }
        
        }

        .racName{
            display: flex;
            flex-wrap: wrap;
            justify-content:space-between;
            align-items: center;

            width: 400px;

            .host{
                order: 1;
                margin-top: 0;
                margin-bottom: 13px;
                p{
                    order: 0;
                    text-align: end;
                    order: none;
                    margin-right: 0px;
                    margin-left: 10px;
                    margin-right: 5px;
                    font-size: 12px;

                }

                img{
                    order: none;
                    height: 32px;
                    width: 32px;
                }
        
            }

            .starBox{
                order: 0;
                display: flex;
                align-items: center;
                margin-top: -10px;
    
               .starContent{
                
                    img{
                        width: 18px;
                        margin: 3px;
        
                    }
        
                }
                
            }

        }


        .tagRac{
        flex-wrap: wrap;
        
            .tags{
                p{
                    font-size: 10px;
                    padding-right: 20px;
                    padding-left: 20px;
                    flex-wrap: wrap;
                    border-radius: 8px;
                } 
                
        
            }

            .starBox {
                order: 1;

                .starContent img{
                    max-height: 18px;
                    margin:0;
                    margin-bottom: 20px;
                }


            }
        
        }

        .box{
            .boxCrit{
                margin-bottom: 15PX;
                .aboutList{
                    .groupAbout{

                        h2{
                            font-size: 13px;
                        }
                        .arrow{

                            height: 20px;
                            width: auto;
                        }
                    }
    
                }

            }
        
        }

        .placement{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

       
    }


 
 }