#footer{ 
    background-color: black;
    margin: 0 auto;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 66px;
    padding-bottom: 29px;

    img{
        height: 39px;
        width: 122px;
    }

}



